---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd
import re
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
def date_sorter():
    from calendar import month_name
    import dateutil.parser
    from datetime import datetime    
    
    dic = {'Jan':'01', 'Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}

    df = pd.DataFrame(doc, columns=['text'])
    df['text'] = df['text'].apply(lambda x: x.strip('\n'))
    df['date'] = df['text'].apply(lambda x:re.findall(r'\d{1,2}(?:,| )*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?) \d{4}',x))
    for r in df['date']:        
        print(r)
    return df

date_sorter()

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['24 Jan 2001']
['10 Sep 2004']
['26 May 1982']
['28 June 2002']
['06 May 1972']
['25 Oct 1987']
['14 Oct 1996']
['30 Nov 2007']
['28 June 1994']
['14 Jan 1981']
['10 Oct 1985']
['11 February 1985']
['10 Feb 1983']
['05 Feb 1992']
['21 Oct 2012']
['14 Feb 1995']
['30 May 2016']
['22 Jan 1996']
['14 Oct 1992']
['06 Oct 2003']
['18 Oct 1999']
['11 Nov 2004']
['30 May 2001']
['02 Feb 1978']
['09 Sep 1989']
['12 March 1980']
['22 June 1990']
['28 Sep 2015']
['13 Jan 1972']
['06 Mar 1974']
['10 Oct 1974']
['26 May 1974']
['10 Feb 1990']
['23 Aug 2000']
['26 May 2001']
['21 Oct 2007']
['19 Oct 2016']
['05 Mar 1974']
['29 Jan 1994']
['21 Oct 1978']
['18 August 1975']
['11 Nov 1996']
['01 Oct 1979']
['13 Oct 1986']
['21 Oct 1995']
['24 Jan 2011']
['04 Oct 1972']
['23 Aug 1993']
['18 Oct 2006']
['04 Dec 1988']
['21 Oct 1983']
['26 May 2010']
['18 Jan 1990']
[]
['10 Dec 1982']
['09 Dec 1988']
['18 August 1995']
['13 June 1974']
['26 May 2008']
['11 Nov 2002']
['17 Aug 1985']
['13 Oct 2016']
['14 Jan 2008']
['12 March 2004']
['21 Oct 1977']
['10 Aug 2000']
['30 Nov 1972']
['06 May 1993']
['18 Jan 1995']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

                                                  text date
0           03/25/93 Total time of visit (in minutes):   []
1                         6/18/85 Primary Care Doctor:   []
2    sshe plans to move as of 7/8/71 In-Home Servic...   []
3                  7 on 9/27/75 Audit C Score Current:   []
4    2/6/96 sleep studyPain Treatment Pain Level (N...   []
5                      .Per 7/06/79 Movement D/O note:   []
6    4, 5/18/78 Patient's thoughts about current su...   []
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...   []
8                           3/7/86 SOS-10 Total Score:   []
9               (4/10/71)Score-1Audit C Score Current:   []
10   (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...   []
11                         4/09/75 SOS-10 Total Score:   []
12   8/01/98 Communication with referring physician...   []
13   1/26/72 Communication with referring physician...   []
14    5/24/1990 CPT Code: 90792: With medical services   []
15    1/25/2011 CPT Code: 90792: With medical services   []
16           4/12/82 Total time of visit (in minutes):   []
17          1; 10/13/1976 Audit C Score, Highest/Date:   []
18                   4, 4/24/98 Relevant Drug History:   []
19   ) 59 yo unemployed w referred by Urgent Care f...   []
20           7/21/98 Total time of visit (in minutes):   []
21                        10/21/79 SOS-10 Total Score:   []
22      3/03/90 CPT Code: 90792: With medical services   []
23      2/11/76 CPT Code: 90792: With medical services   []
24     07/25/1984 CPT Code: 90791: No medical services   []
25   4-13-82 Other Child Mental Health Outcomes Sca...   []
26      9/22/89 CPT Code: 90792: With medical services   []
27        9/02/76 CPT Code: 90791: No medical services   []
28                                9/12/71 [report_end]   []
29   10/24/86 Communication with referring physicia...   []
..                                                 ...  ...
470  y1983 Clinic Hospital, first hospitalization, ...   []
471  tProblems Urinary incontinence : mild urge inc...   []
472  .2010 - wife; nightmares and angry outbursts; ...   []
473         shx of TBI (1975) ISO MVA.Medical History:   []
474  sPatient reported losing three friends that pa...   []
475                        TSH okay in 2015 Prior EKG:   []
476  1989 Family Psych History: Family History of S...   []
477  oEnjoys animals, had a dog x 14 yrs who died i...   []
478  eHistory of small right parietal subgaleal hem...   []
479  sIn KEP Psychiatryfor therapy and medications ...   []
480  1. Esophageal cancer, dx: 2013, on FOLFOX with...   []
481                                        y1974 (all)   []
482  h/o restraining order by sister/mother in 1990...   []
483  sTexas Medical Center; Oklahoma for 2 weeks; 1995   []
484  Death of former partner in 2004 by overdose as...   []
485  Was "average" student.  "I didn't have too man...   []
486  Contemplating jumping off building - 1973 - di...   []
487  appendectomy s/p delivery 1992 Prior relevant ...   []
488  tProblems renal cell cancer : s/p nephrectomy ...   []
489        ran own business for 35 years, sold in 1985   []
490                                  Lab: B12 969 2007   []
491                                   )and 8mo in 2009   []
492  .Moved to USA in 1986. Suffered from malnutrit...   []
493                                              r1978   []
494  . Went to Emerson, in Newfane Alaska. Started ...   []
495  1979 Family Psych History: Family History of S...   []
496  therapist and friend died in ~2006 Parental/Ca...   []
497                         2008 partial thyroidectomy   []
498  sPt describes a history of sexual abuse as a c...   []
499  . In 1980, patient was living in Naples and de...   []

[500 rows x 2 columns]

In [7]:
def date_sorter():
    from calendar import month_name
    import dateutil.parser
    from datetime import datetime    
    
    dic = {'Jan':'01', 'Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}

    df = pd.DataFrame(doc, columns=['text'])
    df['text'] = df['text'].apply(lambda x: x.strip('\n'))
    df['date'] = df['text'].apply(lambda x:re.findall(r'\d{1,2}(?:\/|-)(?:[0-2]?[0-9]|(?:3)[0-1])(?:\/|-)(?:19|20)?\d{2}|\d{1,2}(?:\/|-)(?:19|20)\d{2}|(?:19|20)\d{2}|(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)(?:.| |-)\d{1,2}(?:-|,| |th|st|nd)*(?:19|20)\d{2}|(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?) (?:19|20)\d{2}|\d{1,2}(?:,| )*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?) \d{4}',x))
    for r in df['date']:    
        #print(r)
        if re.match(r'\d{1,2}\/\d{1,2}\/\d{2}$', r[0]):
            d=r[0].split('/')[1]
            m=r[0].split('/')[0]
            if len(d)==1:
                d='0'+d
            if len(m)==1:
                m='0'+m
            r[0]=d+'/'+m+'/'+'19'+r[0].split('/')[2]
       
        elif re.match(r'\d{1,2}-\d{1,2}-\d{2}$', r[0]):
            d=r[0].split('-')[1]
            m=r[0].split('-')[0]
            if len(d)==1:
                d='0'+d
            if len(m)==1:
                m='0'+m
            if len(r[0].split('-')[2])==2:
                r[0]=d+'/'+m+'/'+'19'+r[0].split('-')[2]
            else:
                r[0]='01/'+r[0].split('-')[0]+'/'+r[0].split('-')[1]+'/'+r[0].split('-')[2]            
        
        elif re.match(r'\d{1,2}\/\d{2,4}$', r[0]):
            m=r[0].split('/')[0]
            if len(m)==1:
                m='0'+m
            if len(r[0].split('/')[1])==2:
                r[0]='01/'+m+'/'+'19'+r[0].split('/')[1]
            else:
                r[0]='01/'+m+'/'+r[0].split('/')[1]            
        elif re.match(r'\d{4}', r[0]):
            r[0]='01/01/'+r[0]
        elif re.match(r'(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)(?:.| |-)\d{1,2}(?:-|,| |th|st|nd)*\d{4}', r[0]):
            r[0]=re.search(r'\d{1,2}',r[0][:-4]).group(0)+'/'+dic[re.search(r'[A-Z][a-z]*',r[0]).group(0)[:3]]+ '/'+r[0][-4:] 
        elif re.match(r'(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?) \d{4}', r[0]):
            r[0]='01/'+dic[r[0][:3]]+ '/'+r[0][-4:]
        elif re.match(r'\d{1,2}(?:,| )*(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June|July|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?) \d{4}',r[0]):
            r[0]=re.search(r'\d{1,2}',r[0][:-4]).group(0)+'/'+dic[re.search(r'[A-Z][a-z]*',r[0]).group(0)[:3]]+ '/'+r[0][-4:] 
        else:
            d=r[0].split('/')[1]
            m=r[0].split('/')[0]
            if len(d)==1:
                d='0'+d
            if len(m)==1:
                m='0'+m
            r[0]=d+'/'+m+'/'+r[0].split('/')[2]
        
    df['date'] = df['date'].apply(lambda x:x[0])
    df['date']=pd.to_datetime(df['date'],format='%d/%m/%Y')
    df=df.sort_values(by='date',  ascending=True)
    df=df.reset_index()

    return df['index']

date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     415
17     335
18      36
19     323
20     405
21     422
22     375
23     380
24     345
25      57
26     481
27     214
28     436
29     104
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    198
478    286
479    480
480    431
481    279
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    231
495    427
496    141
497    186
498    161
499    413
Name: index, Length: 500, dtype: int64